{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<div id="customFooter" style="display:none;">
    <!-- Footer custom content area start -->
    <style>
        .custom-line {
            color: grey;
            font-size: small;
            text-align: center;
        }
    </style>
    <p class="custom-line">
        Photo (not) taken by my friend <a href="https://alexuan.github.io/" target="_blank">Xuan</a>
    </p>
    <!-- Footer custom content area end -->
</div>
<script>
    if (window.location.pathname == '/' || window.location.pathname == '/index.html') {
        document.getElementById('customFooter').style.display = 'block';
    }
</script>
{{- /* Footer custom content area end */ -}}